@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
/* Center the loader */
#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    text-align: center;

  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  /* Add animation to "page content" */
  .animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
  }
  
  @-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
  }
  
  @keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
  }
  
  #show {
    display: none;
    text-align: center;
  }
  .lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid rgb(0, 150, 250);
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: rgb(0, 140, 255) transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .right-padding{
      padding-right: 30px;
  }
  .bg-1{
    padding-bottom: 550px;
    background: rgb(228,226,255);
    background: linear-gradient(157deg, rgba(228,226,255,1) 63%, rgba(256,256,256,1) 63%);
  }
.col-sm{
  margin-bottom: 20px;
}
.titulo{
  font-family: 'Roboto', sans-serif;
  padding: 50px;
}
h2{
  font-family: 'Roboto', sans-serif;
}
.video-games{
  text-align: left;
}
.celulares{
  text-align: left;
}
.header{
  background-image: url(../imgs/header.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 300px;
}
.container{
  border-bottom: 1px solid rgb(189, 189, 189);
  margin-bottom: 20px;
}
.config{
   font-size: 25px;
}